@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  font-family: "Open-Sans", sans-serif;
  color: #3B373C;
  background-color: #F7F3F9l
}
.wrapper {
  display: flex;
  margin: 0 auto;
}

.headshot {
  max-width: 60%;
}

h1 {
  font-size: 300%;
}

p {
  line-height: 150%;
  color: #756F78;
}

span {
  color: rgb(140, 103, 155);
}

.text-container {
  width: 84%;
  font-weight: 300;
  padding: 5% 1% 0 15%;
}

.photo-container {
  width: 99%;
  padding-top: 10%;
  /* padding-left: 10%; */

}

.project-container ul,
footer ul {
  list-style: none;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}

.project-container li {

}

.project-container a {
  text-decoration: none;
}

.project-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.puppy-rescue {
  max-width: 90%;
}

.shift-happens {
  max-width: 90%;
}

.write-away {
  max-width: 90%;
}

footer {
  font-size: 20px;
}

footer ul {
  justify-content: center;
  margin: 0 auto;
}

footer li {
  padding: 2%;
  padding-top: 5%;
}

footer a {
  color: #3B373C;
}

footer a:hover {
  color: #EBDEF0;
}

/* iPhone 4 and 4s */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
      flex-flow: column;
    }
    .headshot {
      visibility: hidden;
    }
    .footer {
      padding: 0;
    }
}

/* iPhone 5, 5s, 5c, and 5se */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
      flex-flow: column;
    }
    .headshot {
      visibility: hidden;
    }
    .footer {
      padding: 0;
    }
}
/* iPhone 6 and beyond */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .wrapper {
    flex-flow: column;
  }
  .headshot {
    visibility: hidden;
  }
  .footer {
    padding: 0;
  }
}
